<footer class="bg-dark footer mt-auto">
  <div class="container py-1 text-muted">
    <h3 class="d-inline">
      Connect With Me Via LinkedIn
      <a
        href="https://www.linkedin.com/in/janvi-arora-ja06660/"
        class="p-1"
        style="text-decoration: none; color: #c2c1c1"
        ><i class="fab fa-linkedin"></i
      ></a>
    </h3>

    <hr style="height: 2px" />
  </div>

  <div class="container py-1">
    <div class="text-center">
      <span class="text-muted">&copy;JanviArora, All Rights Reserved</span>
    </div>
  </div>
</footer>
